$defaultFontSize: 16px;
$primary-color:#0098d3;
$primary-color-hover: #0280b3;
$menu-color: #252527;
$font-light: #fff;
$font-grey_light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-ligth: #252527;
$font-dark: #000;

/**/

$border-light: #fff;
$border-grey_light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #000;
$border-dark-ligth: #252527;
$border-dark: #000;

/**/

$background-light: #fff;
$background-grey_light: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #000;
$background-dark-ligth: #252527;
$background-dark: #000;
$background-error: #ff00001f;
$background-success: #84b84c1f;

/**/

$success: #84b84c;
$error: #f00;
// Responsive downside
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
// Responsive upside
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;